repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--max-line-length=100"
          - "--per-file-ignores=repid/__init__.py:F401"
          - "--ignore=S101 tests/"
        additional_dependencies:
          [flake8-bugbear, flake8-builtins, flake8-pytest-style]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        additional_dependencies: [types-orjson~=3.6.2, types-redis~=4.1.18]
        name: mypy-repid
        files: repid/
      - id: mypy
        additional_dependencies: [types-orjson~=3.6.2, types-redis~=4.1.18]
        name: mypy-tests
        files: tests/
