site_name: Repid
site_description: Fast async Redis queue for Python
site_url: https://aleksul.github.io/repid/
theme:
  name: material
  theme:
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra:
  generator: false
  version:
    provider: mike
  analytics:
    provider: google
    property: G-NWQ37DSSKV
repo_name: aleksul/repid
repo_url: https://github.com/aleksul/repid
nav:
  - Home: "index.md"
  - User Guide: "user_guide.md"
