[build-system]
build-backend = "pdm.backend"
requires = ["pdm-backend"]

[project]
authors = [{name = "aleksul", email = "me@aleksul.space"}]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Typing :: Typed"
]
dependencies = [
  "typing-extensions>=4.3.0,<5.0.0; python_version < \"3.10\""
]
description = "Repid framework: simple to use, fast to run and extensible to adopt job scheduler"
dynamic = ["version"]
license = {text = "MIT"}
name = "repid"
readme = "README.md"
requires-python = ">=3.8"

[project.optional-dependencies]
amqp = ["aiormq<7.0.0,>=6.4.0"]
cron = ["croniter<2.0.0,>=1.3.4"]
redis = ["redis<5.0.0,>=4.3.3"]

[project.urls]
documentation = "https://repid.aleksul.space"
funding = "https://github.com/sponsors/aleksul"
repository = "https://github.com/aleksul/repid"
tracker = "https://github.com/aleksul/repid/issues"

[tool.black]
line-length = 100

[tool.coverage]

[tool.coverage.report]
exclude_lines = [
  '\.\.\.',
  'if TYPE_CHECKING:',
  'pragma: no cover'
]
fail_under = 100

[tool.coverage.run]
omit = [
  "repid/connections/rabbitmq/protocols.py"
]

[tool.mypy]
check_untyped_defs = true
disallow_any_unimported = true
disallow_untyped_defs = true
exclude = ["benchmarks"]
no_implicit_optional = true
show_error_codes = true
warn_return_any = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
disallow_any_unimported = false
module = "tests.*"

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = ["pytest_docker_tools", "pytest_lazyfixture"]

[tool.pdm]
version = {source = "scm"}

[tool.pdm.build]
includes = ["repid"]

[tool.pdm.dev-dependencies]
docs = [
  "mkdocs-material",
  "mike",
  "mkdocs-glightbox",
  "setuptools>=65.5.1"
]
format = ["black"]
lint = [
  "mypy",
  "types-redis",
  "types-croniter",
  "ruff"
]
pre-commit = ["pre-commit"]
tests = [
  "pytest",
  "pytest-asyncio",
  "pytest-pretty",
  "pytest-clarity",
  "pytest-lazy-fixture",
  "pytest-docker-tools",
  "pytest-cov",
  "hypothesis",
  "pydantic<2.0.0,>=1.10.0"
]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff]
ignore = ["E501", "N999", "PLR0913"]
line-length = 100
per-file-ignores = {"tests/*" = ["S", "PLR2004", "FBT", "BLE", "S101"], "repid/connections/__init__.py" = ["F401"], "benchmarks/*" = ["T201", "S603", "S607"], "**/__init__.py" = ["PLC0414"]}
select = [
  "F",
  "E",
  "W",
  "C90",
  "I",
  "N",
  "UP",
  "YTT",
  "S",
  "BLE",
  "FBT",
  "B",
  "A",
  "COM",
  "C4",
  "T10",
  "ISC",
  "ICN",
  "G",
  "PIE",
  "T20",
  "PYI",
  "PT",
  "RET",
  "SIM",
  "TID",
  "ARG",
  "PTH",
  "PGH",
  "PL",
  "RUF"
]
target-version = "py38"
