name: Docs

on:
  release:
    types:
    - published
  workflow_dispatch:

jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup git user
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Setup PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: '3.10'
        cache: true

    - name: Install or update dependencies
      run: pdm sync -G docs --no-default --no-self --clean

    - name: Get current package version
      run: echo "VER=$(pdm show --version repid)" >> $GITHUB_ENV

    - name: Mike update version
      run: pdm run mike deploy --push --force --update-aliases ${{ env.VER }} latest
