name: Release

on:
  release:
    types:
    - published
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # permission for PyPI trusted publishing
      id-token: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: '3.8'
        cache: true

    - name: Publish to PyPI
      run: pdm publish
