name: Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  tests:
    name: Tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: true

    - name: Install or update dependencies
      run: pdm sync -G :all --clean

    - name: Run tests
      run: pdm run test --color=yes --cov-fail-under=0

    - name: Rename .coverage file
      run: |
        mkdir coverage && \
        mv .coverage ./coverage/.coverage.${{ runner.os }}-py${{ matrix.python-version }}

    - name: Store coverage files
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage

  coverage-combine:
    needs: [tests]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: pip

    - name: Get coverage files
      uses: actions/download-artifact@v3
      with:
        name: coverage
        path: coverage

    - run: pip install coverage[toml]

    - run: ls -la coverage
    - run: coverage combine coverage
    - run: coverage report --skip-covered --show-missing
    - run: coverage xml

    - name: Upload code coverage
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
