name: Tests

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

env:
  PYTEST_ADDOPTS: "--color=yes"

jobs:
  tests:
    name: Tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install --upgrade tox==3.24.4 tox-py==1.1.0 tox-docker==3.1.0

    - name: Run tox targets for ${{ matrix.python-version }}
      run: tox --py current

    - name: Upload code coverage
      if: matrix.python-version == '3.8'
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml
        flags: unittests
